
$font-family-monospace: 'Sedgwick Ave', cursive;
$font-family-sans-serif:'Montserrat', 'sans-serif';

$primary:#d63384;
@import "../node_modules/bootswatch/dist/journal/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/journal/bootswatch";
@import "../node_modules/swiper/swiper-bundle.min.css";



@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Hind+Madurai&family=Irish+Grover&family=Kumbh+Sans:wght@400;600&family=Lato&family=Montserrat:wght@200;400;500;700&family=Neonderthaw&family=Oswald:wght@300&family=Patrick+Hand&family=Rajdhani:wght@600&family=Red+Hat+Display&family=Rubik&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Irish+Grover&family=Kumbh+Sans:wght@400;600&family=Lato&family=Montserrat:wght@200;400;500;700&family=Oswald:wght@300&family=Patrick+Hand&family=Red+Hat+Display&family=Rubik&display=swap');
//@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Irish+Grover&family=Kumbh+Sans:wght@400;600&family=Lato&family=Montserrat:wght@200;400;500;700&family=Neonderthaw&family=Oswald:wght@300&family=Patrick+Hand&family=Red+Hat+Display&family=Rubik&family=Sedgwick+Ave&display=swap');
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

:root{
  --primary-one:#d63384;
  --primary-two:#fcebfa;
  --light:#fff;

}

//@media screen  and (max-width: 576px){
//.cover-para{
//
//    padding-top: 100px;
//
//}
//  .cover{
//
//  }
//}





//@media screen and (max-width: 576px) {
//  .cover-para{
//    position: fixed;
//    padding-top: 150px;
//    padding-left: 51px;
//    width: 500px;
//
//  }




//@media screen and (max-width: 1366px) {
//  .cover-para{
//    position: fixed;
//    padding-top: 300px;
//    padding-left: 300px;
//    width: 800px;
//
//  }
//}

//@media screen and (max-width: 1920px) {
//  .cover-para{
//    position: fixed;
//    padding-top: 400px;
//    padding-left: 300px;
//    width: 800px;
//
//  }
//}

body {
background: var(--primary-one);
  scroll-behavior: smooth;

}

#first-bar{
 position: fixed;
  width: 100%;
  z-index: 1500;
  background-color: rgba(238, 238, 238, 0.54) !important;
  backdrop-filter: saturate(180%) blur(20px);
}
.first-nav{

  z-index: 1;
}

.cover{
  height: 100vh;


}
.cover-para{
  position: fixed;
  padding-top: 300px;
  padding-left: 100px;
  font-family: 'Rajdhani', sans-serif;


}
.cover-img{
  position: fixed;
  z-index: -1;

}

.first-div{
  background: #762f47;
  width: 500px;
}



.section{
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.one-para{
background-color: var(--primary-two);
  background-image: linear-gradient(to right top, rgba(220, 117, 216, 0.86), #d518c5, #f585e6, #c21ba6, #b71e97, #b82092, #b9228d, #b92589, #c5288c, #d22b8f, #df2f91, #eb3393);color: #fff;
  border-radius: 20px;
  background-color: var(--primary-two);
}

a{
  text-decoration: none;
}

.section-one{

}

//.back-color{
//  background: #5c628a63;
//  z-index: 1;
//  min-height: 100vh;
//}

@media only screen and (max-width: 1400px) {
  .cover-para {
    position: fixed;
    padding-top: 200px;
    padding-left: 100px;
    width: 650px;

  }

  .cover {
    height: 100vh;
  }
  .cover-p{
    font-size: 70px;
  }
  .muki{
    display: block;
  }
  .brand-title{
    display: block;
  }
}


@media only screen and (max-width: 1200px) {
  .cover-para {
    position: fixed;
    padding-top: 200px;
    padding-left: 100px;
    width: 600px;

  }

  .cover {
    height: 40vh;
  }
  .cover-p{
    font-size: 50px;
  }
  .muki{
    display: block;
  }
  .brand-title{
    display: block;
  }
  .nav-item{
    background: rgba(52, 45, 45, 0.87);

  }

  .nav-item:hover{
    background: rgba(57, 44, 46, 0.75);

  }
}

@media only screen and (max-width: 576px) {
  .cover-para {
    position: fixed;
    padding-top: 100px;
    padding-left: 50px;
    width: 400px;

  }


  .cover {
    height: 37vh;
  }

  .cover-p{
    font-size: 20px;
  }
  .muki{
    display: none;
  }
   .brand-title{
    display: none;
  }
  .nav-item{
    background: rgba(52, 45, 45, 0.87);

  }

  .nav-item:hover{
    background: rgba(57, 44, 46, 0.75);

  }
}



.cover .down-arrow{
  position: fixed;

  bottom: 0;
}

.cart{
  width: 50px;
  height: 50px;
}
.small-img{
  width: 30px;
  border: 1px solid pink;
  border-radius: 50%;
}
.demo-title{
  width: 100px;

}
.ImgCard{
  border-radius: 50px;
}
.section-one .container h5{
  display: inline-block;
  width: 200px;
  //background: var(--primary-two);
  //border-bottom: 3px solid #d00ca0;

  //border-top: 3px solid #d00ca0;
  //border-image: linear-gradient(to right top, #de18d6, #d518c5, #cc19b5, #c21ba6, #b71e97, #b82092, #b9228d, #b92589, #c5288c, #d22b8f, #df2f91, #eb3393);color: #fff;
  padding: 5px 10px;
  color: black;
}

.category{
  display: inline-block;
  width: 200px;
  //background: var(--primary-two);
  border-bottom: 3px solid #d00ca0;
  border-top: 3px solid #d00ca0;
  //border-image: linear-gradient(to right top, #de18d6, #d518c5, #cc19b5, #c21ba6, #b71e97, #b82092, #b9228d, #b92589, #c5288c, #d22b8f, #df2f91, #eb3393);color: #fff;
  padding: 5px 10px;
  color: black;
}
.image-container{
  position: absolute;

}
.section-one .section-one-part2{
  height: 900px;
background-color: var(--primary-two);
}


.section-two .container .row .category:after{
content: '';

  background: #d63384;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 34.7%;
  left: 55%;
  /* border-radius: 50%; */
  border-radius: 50%;

}
.category-img{
  border: 2px solid #d63384;
  border-radius: 50%;
  width: 200px;

}


.card-category{

}
.cls-3:hover {
  transform: translateX(-20px);
  //fill: darkblue;
}

.section-three{
  background-color:  #fcebfa;
}
.sale-card{
  height: 350px;
  width: 280px;
  box-shadow:inset 5px 5px 5px rgba(0,0,0,0.05),
  inset -5px -5px 5px rgba(255,255,255,0.5),
  5px 5px 5px rgba(0,0,0,.05),
  -5px -5px 5px rgba(255,255,255,0.5);
  border-radius: 15px;
  margin: 30px;

}

.sale-photo{
  border-radius: 20px;
}
.column-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  position: absolute;

  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 30px;
  background: #fcebf8;
  box-shadow: 0 10px 20px rgba(0,0,0.2,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.box:hover{
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  /*background: linear-gradient(45deg,#b95ce4,#4f29cd);*/
  background: linear-gradient(45deg, rgba(220, 52, 165, 0.76), #e0ddea);
  border-radius: 20px;
}

.content{

}

.box .content img {

}
.box .content .Cart-btn{
  background: rgba(255, 255, 255, 0.75);
  position: relative;
  padding: 10px 27px;
  border-radius: 20px;
  border: 0px;


  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: 0.5s;
}
.box:hover .Cart-btn{
  background-color: var(--primary-one);

}
.box:hover  .content .Cart-btn .Cart-btn-icon{
  color: var(--light);
}
.box .content .Cart-btn .Cart-btn-icon{

  color: var(--primary-one);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #495057;
  /* background-color: #fff; */
  background: #fcebfa !important;
  /* border-top: 2px; */
  border-width: 2px ;
  border-color: #d00ca0 #dee2e6 transparent !important;
}

.nav-tabs .nav-link{
  padding: 10px 30px;
  color: #000;
  margin-bottom: -1px;
  background: 0 0;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 400;
}


//swiper Testimonial

.section-five{
  //background: var(--primary-two);
}

.testimonialDiv{
  position: relative;


  border-radius: 20px;

}

.swiper {
  width: 700px;

  padding-top: 50px;
  padding-bottom: 50px;


}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;

  /*background-color: #fff;*/
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  filter: blur(4px);
  background: #d1ebff;
  border-radius: 20px;

}
.swiper-slide-active{
  transition: 0.5s;
  filter: blur(0px);
  background-image: linear-gradient(to right top, #e1178a, #d91d99, #cf26a9, #c231b8, #b13cc6, #ae3eca, #ab40cf, #a742d3, #b43bcf, #c033ca, #cb2ac5, #d61dbf);

}
.swiper-slide-active .testimonialBox .content p {
  color: #fff;
}

/*.swiper-slide-active*/
/* .swiper-slide-active:hover {*/
/*      transform: translateY(-35px);*/
/*  }*/
/*.swiper-slide-active:hover .testimonialBox .layer{*/
/*      top: 0px;*/
/*      z-index: -1;*/

/*  }*/

.testimonialBox{
  position: relative;
  max-width: 100%;
  padding: 40px;
  padding-top: 60px;
  color: #999;
  overflow: hidden;
  transition: 0.5s;

}
.testimonialBox .layer{
  position: absolute;
  top: calc(100% - 5px);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.testimonialBox .content{
  padding: 10px 0px;
}
.testimonialBox .content p{
  width: 250px;
}
.testimonialBox .details{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.testimonialBox .details .imgBox{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.testimonialBox .details .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}.testimonialBox .details h3{
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 1px;
   color: #2196f3;
   line-height: 1.1em;
 }

.swiper-3d .swiper-slide-shadow-left{

}
.swiper-3d .swiper-slide-shadow-right{
  background-image: none;
}


